* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 700;
}

.main-container {
  font-family: "Montserrat";
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
}

.price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/bg-top.svg"), url("/images/bg-bottom.svg");
  background-position: right top, left bottom;
  background-attachment: fixed;
  background-color: hsl(240, 78%, 98%);
  background-repeat: no-repeat;
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-heading {
  color: hsl(232, 13%, 33%);
}

.year-check {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: hsl(234, 14%, 74%);
}

.sub-price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(240, 100%, 99%);
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.line {
  color: hsl(240, 78%, 98%);
  width: 90%;
}

.description {
  color: hsl(233, 13%, 49%);
}

.price {
  color: hsl(232, 13%, 33%);
  font-size: 60px;
}

.dollar {
  color: hsl(232, 13%, 33%);
  font-size: 40px;
}

.learn-button {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  border-style: none;
  border-radius: 8px;
  padding: 15px;
  color: hsl(240, 78%, 98%);
  font-weight: bold;
  margin-top: 15px;
  width: 90%;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  background-color: hsl(240, 100%, 99%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(240, 100%, 99%);
  /*background-image: linear-gradient(white, white); */
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-container:hover {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  cursor: pointer;
}


.card-container:hover,
.price:hover,
.dollar:hover,
.learn-button:hover,
.description:hover {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  cursor: pointer;
}



@media (min-width: 768px) {

  .sub-price-container {
    flex-direction: row;
  }

}
